@import "src/index";

.education{
  height: 110vh;
  padding: 5% 10% 0 10%;
}

.header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.data{
  height: 40%;
  display: flex;
  img{
    //width: 20%;
    //height: 80%;
    border-radius: 200px;
    border: white solid 2px;
    align-self: center;
    margin-right: 5%;
    display: block;
    width: 190px;
    height: 200px;
  }

  .profile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;

    .component{
      display: flex;
      justify-content: space-between;
      border-bottom: white solid 1px;
      padding: 10px 0 10px 0;
      .title{
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .description{
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }
    }
    ul > li{
      text-align: right;
    }
  }
}


.bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 10vh;
  font-size: 1.3rem;
  .sosmed{
    display: flex;
    justify-content: center;
    a{
      width: 75px;
      img{
        width: 75px;
      }
    }

  }
}

.fadeOut{
  opacity:0;
  //width:0;
  //height:0;
  transition: opacity 0.2s ease-in;

}
.fadeIn{
  opacity:1;

  transition: opacity 0.2s 0.2s ease-in;

}
